/*Selector universal*/
* {
    /*Elimina margen por defecto*/
    margin: 0;
    /*Elimina márgenes por defecto*/
    padding: 0;
    /*Chrome y Safari*/
    -webkit-box-sizing: border-box;
    /*Firefox*/
    -moz-box-sizing: border-box;
    /*Edge, Safari, Chrome , Opera*/
    /*Evita que padding y el borde sumen al tamaño de todos los elementos*/
    box-sizing: border-box;
}

/*Estilo para body*/
body {
    /*Tipo de letra*/
    font-family: "Open Sans", Arial, Sans-serif;
    /*Tamaño de fuente*/
    font-size: 18px;
    /*Color de letra*/
    color: rgb(32, 30, 30);
}

/*Estilo bloque contenedor*/
/*Rectángulo por encima del header*/
.contenedor {
    /*ancho del contenedor*/
    width: 90%;
    /*Anchura máxima*/
    max-width: 1000px;
    /*Para adaptar el margen*/
    margin: auto;
    /*Oculta desbordamiento del contenido*/
    overflow: hidden;
}

/*Estilo bloque header*/
/*rectángulo detrás del contenedor*/
header {
    /*anccho contenedor*/
    width: 100%;
    max-width: 100%;
    /*fondo del contenedor*/
    background: url(../img/fondo-suculenta.jpg) #45b33b;
    /*cover para que la imagen no se deforme al cambiar tamaños*/
    background-size: cover;
    /* La imagen de fondo se mueve cuando se hace scroll.*/
    background-attachment: scroll;
    /*Establece posición inicial de la imagen de fondo*/
    background-position: center 0;
}

/*Estilo header, bloque contenedor*/
/*?*/
header .contenedor {
    /*Define cómo se posiciona el contenedor dentro de la página*/
    /*relative: respecto a la posición original*/
    position: relative;
    /*Tamaño contenedor*/
    height: 600px;
}

/*Estilo header, bloque menú*/
/*Fondo menú*/
header .menu {
    /*ancho contenedor*/
    width: 100% auto;
    /*alinea el texto al centro*/
    text-align: center;
    /*fondo contenedor*/
    background-color: #ebe1e1;
    /*Opacidad del contenedor*/
    opacity: 0.7;
    font-size: 35px;
    font-weight: 300;
    margin: 35px;
    position: relative;
    /*brinda margen adicional en la parte baja*/
    padding-bottom: 15px;
}

/*Texto dentro del contenedor menú*/
/*Al texto sin señalar*/
header .menu a {
    color: rgb(32, 30, 30);
    font-size: 20px;
    /*ancho del texto*/
    font-weight: 300;
    margin: 40px 20px;
    /*Evita que tenga una línea por debajo siempre*/
    text-decoration: none;
    padding: 10px;
    position: relative;
}

/*Texto dentro del menú*/
/*Al texto al señalar*/
/*Diseño subclase*/
header .menu a:hover {
    /*Línea bajo el texto*/
    text-decoration: underline;
    /*Volver a la línea punteada*/
    /*text-decoration-style: dashed;*/
    color: rgb(153, 10, 82);
}

/*Contenedor H1 y h3*/
header .texto {
    /*auto ayuda a centrar en el contenedor*/
    width: 100% auto;
    color: rgb(32, 30, 30);
    position: absolute;
    /*Mueve al contenedor hacia arriba desde la base del contenedor*/
    top: 40%;
    /*Mueve al contenedor desde arriba*/
    margin-top: 25px;
    background-color: #ebe1e1;
    opacity: 0.7;
}

/*Modifica H1*/
header .texto .nombre {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 5px;
    /*Brinda margen desde la izq*/
    margin-left: 20px;
    /*text-decoration: underline;*/
}

/*H3 Vivero*/
header .texto .nombre span {
    font-weight: 300;
}

/*Diseño h3*/
header .texto .nombre2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 25px;
    /*Cursiva*/
    font-style: italic;
}

/*Contenedor main, bajo encabezado*/
.main {
    /*Imagen de fondo*/
    background-image: url(../img/textura-blanco.avif);
    /*La imagen de fondo se repite en el eje x / y*/
    background-repeat: repeat;
}

/*Estilo contenedor imágenes*/
.muestrario {
    /*Espacio entre contenedores*/
    margin: 30px auto;
    padding: 25px;
}

/*Contenedor interior imágenes*/
.main .muestrario .contenedor {
    /*evita que el contenido ACERCA -DE , suba*/
    position: relative;
    /*Posiciona el contenedor*/
    margin-top: 10px;
    /*Centrar el contenedor*/
    padding-top: 5px;
    width: 90%;
    max-width: 1000px;
}

.main .muestrario .foto {
    width: 100% auto;
    position: relative;
    /*visualmente genera la sombra*/
    top: -10px;
    /*Flexbox para alinear los elementos*/
    display: flex;
    /*Permite que los elementos se ajusten a la pantalla*/
    flex-wrap: wrap;
    /*separación entre elementos*/
    gap: 50px;
}

/*contenedor acerca - de*/
.reseña {
    /*contenedor reseña*/
    width: 90% auto;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}


/*Diseño bloque texto*/
.reseña .texto {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    opacity: 0.9;
}

/*Diseño h3 texto - acerca de - img*/
.reseña .texto1,
.reseña .texto2 {
    /*Modifica el contenedor para dividirlo en 2*/
    width: 50%;
    /*Permite que la imagen pueda ubicarse junto al texto*/
    float: right;
}

/*Diseño título acerca de*/
.reseña .acerca {
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
}

/*Diseño párrafos - acerca de*/
.reseña .parrafos {
    /*borde punteado*/
    border: 10px dotted rgb(114, 106, 106);
    margin: 30px;
    padding: 20px;
    font-size: 25px;
    text-align: left;
}

/*Contenedor pie de página*/ 
footer {
    margin: 30px;
    padding: 10px;
}

.main .ubicacion {
    background: #80f092;
    padding: 60px;
    overflow: hidden;
    width: 100%;
    opacity: 0.8;
}

.main .ubicacion .titulo {
    text-align: center;
    font-size: 50px;
    line-height: 40px;
    font-weight: 200;
    margin-bottom: 40px;
}

/*Colocar horizontalmente contenedor dirección*/
.main .ubicacion .direccion {
    float: right;
    width: 50%;
    text-align: right;
    overflow: hidden;
}

/*Colocar horizontalmente contenedor horarios*/
.main .ubicacion .horarios {
    float: right;
    width: 50%;
    text-align: right;
    overflow: hidden;
}

.main .ubicacion .direccion .calle {
  /*Alinea correo al centro*/
    text-align: center;
}

/*Coloca título dirección al centro */
.main .ubicacion .direccion h4 {
    text-align: center;
    margin-bottom: 20px;
}

/*Coloca títulos horario al centro*/
.main .ubicacion .horarios h4 {
    text-align: center;
    margin-bottom: 20px;
}

/*Coloca verticalmente texto dirección , visual*/
.main .ubicacion .direccion .calle,
.main .ubicacion .direccion .telefono {
    width: 50%;
    float: left;
    text-align: center;
}

.main .ubicacion .direccion .correo {
    text-align: center;
}

/*Coloca verticalmente texto horarios , visual*/
.main .ubicacion .horarios .entre-semana,
.main .ubicacion .horarios .fin-semana {
    width: 50%;
    float: left;
    text-align: center;
}

.main .mapa {
    width: 100%;
    overflow: hidden;
}

.main .mapa iframe {
    width: 100%;
    max-height: 600px;
}

footer{
    background: #e4e0e0;
}

footer .texto{
    text-align: center;
    padding: 15px 0;
    color: #807b7b;
}


/*-----------MEDIA QUERIES-----------*/
@media screen and (max-width: 800px){
    header .contenedor{
        position: static;
        height: auto;
    }

    header .texto{
        position: static;
        margin: 100px 0;
    }

    header .menu{
        text-align: center;;
    }
    header .menu a{
        margin: 10px 20px;
    }

    header .texto .nombre{
        font-size: 30px;
    }

    header .texto .nombre2{
        font-size: 18px;
    }

    .main .menu{
        padding-top: 300px;
    }

    .main .menu article{
        width: 100%;
    }

    .main .muestrario .foto{
        width: 50%;
    }

    /*Imagen suculenta*/
    .main .reseña .texto1{
        position: relative;
        width: 100%;
        transform: translate(0px, 0);
    }

    /*Texto acerca-de*/
    .main .reseña .texto2{
        position: relative;
        width: 100%;
        transform: translate(0px, 0);
    }

    .main .mapa{
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 400px){
   
    .main .reseña .parrafos{
        position: relative;
        width: 100%;
        transform: translate(0px, 0);
    }
    
    .main .reseña article h3{
        font-size: 34px;
        margin-bottom: 10px;
    }

    .main .reseña .texto1,
    .main .reseña .texto2{
        font-size: 34px;
        margin-bottom: 10px;
    }

    .main .reseña .parrafos{
        font-size: 16px;
        line-height: 16px;
    }

    .main .muestrario .foto,
    .main .reseña .texto1{
        width: 100%;
    }

    .main .ubicacion .direccion{
        margin-bottom: 15px;
    }
    
    .main .ubicacion .direccion,
    .main .ubicacion .horarios{
        width: 100%;
        float: none;
        text-align: center;
    }
}